body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif;
}
.navbar {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  gap: 10px;
}
.navcontent {
  border-radius: 35px;
  padding: 10px 8px;
  font-size: 24px;
  cursor: pointer;
  user-select: none;
}
.title{
  margin: 0px;
  text-align: center;
  font-size: 24px;
}
.sentense{
  margin:0px,10px,0px,0px;
  text-align: center;
  font-size: 16px;
}
a{
  text-decoration: none;
}
footer {
  text-align: center;
  background-color: #c0c0c0;
}
